<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blanket Coverage Report</title>
    <style media="screen">
      body {
        padding: 20px;
        font-family: Monaco, monospace;
        font-size: 12px;
      }
      section {
        padding-bottom: 20px;
      }
      h4 {
        white-space: pre;
        padding: 0;
        margin: 0;
      }
      .file {
        background: #f5f5f5;
        margin: 10px 0;
        border-collapse: collapse;
      }
      .file td {
        white-space: pre;
      }
      .gutter {
        text-align: right;
        border-right: 1px solid #ddd;
        width: 20px;
        padding-right: 10px;
      }
      .content {
        width: 800px;
        padding-left: 10px;
      }
      .miss { background-color: #ffeef0; }
      .hit { background-color: #e6ffed; }
      .ignore { color: #555; }
    </style>
  </head>
  <body>
    <div class="summary">
      <h3>Summary</h3>
      <table>
        <%= for {file, percent} <- summary(coverage) do %>
          <tr>
            <td class="gutter"><%= format_percentage(percent) %></td>
            <td class="content"><a href="#file-<%= file %>"><%= file %></a></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="files">
      <h3>Files</h3>
      <%= for %{path: path, lines: lines} <- coverage do %>
        <section id="file-<%= path %>">
          <h4><a href="#file-<%= path %>"><%= path %></a></h4>
          <table class="file">
            <%= for {content, hits} <- lines_with_hits(path, lines) do %>
              <tr class="<%= line_class(hits) %>">
                <td class="gutter"><%= hits %></td>
                <td class="content"><%= content %></td>
              </tr>
            <% end %>
          </table>
        </section>
      <% end %>
    </div>
  </body>
</html>
